body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:#fff;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:#222;
}

button{
  margin:3px;
  padding:7px;
  background:#1e90ff;
  border:none;
  color:#fff;
  border-radius:5px;
}

.container{padding:10px;}

.section{
  display:none;
  background:#222;
  padding:10px;
  border-radius:10px;
}

table{
  width:100%;
  border-collapse:collapse;
  background:#fff;
  color:#000;
}

th,td{
  border:1px solid #ccc;
  padding:6px;
  text-align:center;
}

.reset{
  background:red;
}